/* From Uiverse.io by CristianMontoya98 */ 
.fancy-btn {
 /* width: 6.5em;
 height: 2.3em; */
 margin: 0.5em;
 background: #009687;
 color: white;
 border: 1px solid;
 /* border-radius: 0.625em; */
 /* font-size: 20px; */
 /* font-weight: bold; */
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

.fancy-btn:hover {
 color: teal;
}

.fancy-btn:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.fancy-btn:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}